investigate CDS transitions

In registry code(at least in ours - but I guess others as well) there is often the assumption "A domain has DNSSEC enabled, if it has at least one DS record". For example in whois output, dnssec statistics, or in RFC8078 scanner code which operates differently for bootstrapping than for domains which are already secure. With this proposal, this assumption would no longer be correct, since a domain could have a DS RRSET which only signals DoT support, but not DNSSEC (unless I missed a statement which declares that a DS RRSET Must contain at least one DNSSEC algorithm other than "TBD" )
Ths could maybe be mentioned "Domain registry changes". 

Also, it would be nice to have a statement on the consequences for RFC 7344/8078 support. How (if at all) should implementors verify records with Alg "TBD", what happens if a previously DNSSEC secure domains signals a new CDS rrset with "TBD" algo only (i.e. can you go "unsigned" but keep DoT ),
how excactly does the [continuity Rule in RFC7344 Section 4.1](https://tools.ietf.org/html/rfc7344#section-4.1) apply to these records ("MUST NOT break the current delegation if applied to DS RRset." )

_Originally posted by @gryphius in https://github.com/PowerDNS/parent-signals-dot/issues/22#issuecomment-658111920_